img {
  max-width: 100%;
}

.tasti nav ul{
    list-style: none;
    font-size: 25pt;
    word-spacing: 100px;
    padding-top: 30px;
    color: #fff;
  }
  .tasti nav a{
    color: #fff;
  }
  
  .tasti a:hover{
    text-decoration: underline;
  }
  
  header{
    height: 100px;
    background-color: #623A38;
  }
  
  body{
    background-color: #FFE0B4;
  }
  
  .cdm h1{ 
    text-align: center;
   font-size: 50pt;
    font-style: bold;
   margin-top: 50px;
    border-style: solid;
    border-color: #5B3131;
    border-width: 5pt;
    color: #5b3131;
  }
  
  .par h1{
    text-align: center;
    font-size: 25pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #5b3131;
  
  }
  

  
  .intro {
    text-align: center;
  }
  
  .par2 p{
    display: inline-block;
    font-size: 25pt;
    width: 1000px;
  }
  
  .par3 p{
    display: inline-block;
    font-size: 25pt;
    width: 1000px;
  }
  
  .titd h1{
    padding-top: 100px;
    padding-left: 260px;
    padding-bottom: 50px;
    font-size: 40pt;
    color: #5B3131;
  }
  
  
  .imgd{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  
  .tits h1{
    padding-top: 100px;
    padding-left: 260px;
    padding-bottom: 50px;
   max-width: 100%;
    font-size: 40pt;
    color: #5B3131
  }
  
  
  .imgs{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
 
  .par4{
    display: inline-block;
    font-size: 25pt;
    width: 1000px;
    text-align: center;
    padding-left: 450px;
  

   
  }

    .par5{
      display: inline-block;
      font-size: 25pt;
      width: 1000px;
    text-align: center;
    padding-left: 450px;
  
  }
  footer {
    margin-top: 40px;
    height: 100px;
    background-color: #623A38;
}

footer p {
    font-size: 40px;
    color: #FFE0B4;
    text-align: center;
    padding: auto;
}